<form class="" action="/">
  <button type="submit">Home</button>
</form>

<div class="row">
  <div class="six columns">
  <form action="/add" method="post">
    <label for="name">PodCast Name:</label>
    <input type="text" name="name">
    <label for="imgURL">Image URL:</label>
    <input type="text" name="imgURL">
    <label for="description">Description: </label>
    <textarea name="description"></textarea>
    <label for="url">Link to PodCast:</label>
    <input type="text" name="url">
    
    <input type="submit" value="save">
  </form>
  </div>

  <div class="six columns">
    <img class="rotate" src="images/podcast-fridge.jpg">
  </div>
</div>
