
<div class="row main">
  <div class="three columns">
    <h4>Shop Talk Show</h4>
    <img src="podcast-images/shoptalk.jpeg" alt="Shop Talk Show logo">
    <p>This is a short description of the Shop Talk Show podcast. It's a really neat thing.</p>
    <form action="http://google.com">
      <button type="submit" name="button">Visit Podcast</button>
    </form>
  </div>
  <div class="three columns">
    <h4>Shop Talk Show</h4>
    <img src="podcast-images/shoptalk.jpeg" alt="Shop Talk Show logo">
    <p>This is a short description of the Shop Talk Show podcast. It's a really neat thing.</p>
    <form action="http://google.com">
      <button type="submit" name="button">Visit Podcast</button>
    </form>
  </div>
  <div class="three columns">
    <h4>Shop Talk Show</h4>
    <img src="podcast-images/shoptalk.jpeg" alt="Shop Talk Show logo">
    <p>This is a short description of the Shop Talk Show podcast. It's a really neat thing.</p>
    <form action="http://google.com">
      <button type="submit" name="button">Visit Podcast</button>
    </form>
  </div>
  <div class="three columns">
    <h4>Shop Talk Show</h4>
    <img src="gitpodcast-images/shoptalk.jpeg" alt="Shop Talk Show logo">
    <p>This is a short description of the Shop Talk Show podcast. It's a really neat thing.</p>
    <form action="http://google.com">
      <button type="submit" name="button">Visit Podcast</button>
    </form>
  </div>
</div>
