body {
  background: lightgrey;
  font-size: 16px;
}

.container {
  margin-top: 20px;
  background: lightblue;
  padding: 2em;
}

h1 {
	color: #fff;
	font-family: 'Cormorant Infant';
	font-size: 72px;
	font-weight: 700;
	line-height: 72px;
	letter-spacing: -1px;
	margin-bottom: 48px;
	text-align: center;
}

h1:after {
	color: #1fcfcb;
	display: block;
	content: '. . .';
	font-size: 26px;
	line-height: 24px;
	height: 24px;
	margin: 48px auto;
}

p {
	color: #bbc8d8;
	font-family: 'Lato';
	font-size: 22px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 36px;
	text-align: center;
}

a {
	color: #1fcfcb;
}

a:hover {
	color: #fff;
}

img {
  width: 100%;
}

button {
  width: 100%;
  padding: 0;
}


/* Larger than mobile */
@media (min-width: 400px) {
  button {
    font-size: 12px;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  button {
    font-size: 9px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  button {
    font-size: 11px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
